/* colors */
/* F26107 orange */
/* 7AB317 green */
/* FED90D yellow */
/* 2A87EF blue */
/* FE93B5 pink */

/* 1. Base */
html {
  background-color: #fff;
  /* background-image: linear-gradient(to bottom right, #cc5500, #fff); */
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  /* text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); */
}

header {
  background-color: transparent;
  font-size: 1.2rem;
  left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 1% 10% 1% 10%;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
  height: 100%
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}


/* 2. Shared */
.wallpaper,
.picture-shadow,
.picture-image {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.job,
.button {
  font-family: "Montserrat", "IBM Plex Sans", sans-serif;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.button,
.social a {
  transform-origin: center;
  transition-duration: 100ms;
}

.wallpaper,
.picture-shadow,
.picture-image,
.name,
.job,
.hr,
.description,
.contact,
.social li {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
  animation-fill-mode: both;
}

/* 3. Specific */
.wallpaper {
  background-image: url("../imgs/wllp.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 1;
  position: fixed;
}

.content {
  display: flex;
  position: relative;
  min-height: 100vh;
}

.side {
  max-height: 18rem;
  max-width: 18rem;
}

.about {
  background-color: #fff;
  max-width: 26rem;
  padding: 1rem 1rem 0rem 0rem;
}

.picture {
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.picture-shadow {
  border-radius: 290486px;
  background-image: radial-gradient(#000 0%, rgba(0, 0, 0, 0) 50%);
  position: absolute;
  top: 3%;
}

.picture-image {
  border-radius: 290486px;
  position: absolute;
}

.name {
  font-size: 2.25rem;
  line-height: 1.125;
  margin-bottom: 0.5rem;
}

.job {
  color: #000;
  font-size: 0.75rem;
}

.hr {
  background-color: #FED90D;
  border: none;
  content: "";
  height: 7px;
  margin-bottom: 5rem;
  margin-top: 1rem;
  transform-origin: center left;
  width: 11rem;
}

.description {
  font-size: 1.4rem;
}

.description a {
  position: relative;
}

.description a:before {
  border-bottom: 0.4rem solid #FE93B5;
  content: "";
  height: 95%;
  opacity: 0.45;
  position: absolute;
  width: 100%;
}

.description li {
  list-style: square inside;
  /* text-indent: 1rem; */
}

.contact {
  display: inline-block;
  margin-top: 1.5rem;
  vertical-align: top;
}

.button {
  background-color: #2A87EF;
  /* border-radius: 290486px; */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: #fff;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 1.25em 2em;
  transition-property: box-shadow, transform;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.button:hover {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
  transform: scale(1.02) translateY(-4px);
}

.button:active {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  transform: scale(0.98) translateY(-2px);
}

.social {
  display: flex;
  /* margin-top: 1.5rem;
  margin-bottom: 0.5rem; */
}

.social li {
  height: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 2rem;
}

.social a {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  color: #2A87EF;
  height: 2rem;
  justify-content: center;
  opacity: 0.7;
  transition-property: opacity, transform;
  width: 2rem;
  will-change: opacity, transform;
}
.social a:hover {
  opacity: 1;
  transform: scale(1.25);
}
.social a:active {
  opacity: 1;
  transform: scale(1.1);
}
.topnav {
  display: flex;
  float: right;
}
.topnav li {
  height: 2rem;
  margin-right: 0.5rem;
  float: right;
  text-align: center;
  width: 2rem;
}
.topnav a {
  display: flex;
  /* float: right; */
  color: #000;
  padding: 0 0.5rem 0 0.5rem;
  text-align: center;
  text-decoration: none;
  transition-property: opacity, transform;
  vertical-align: top;
  will-change: opacity, transform;
}
.topnav a:hover {

}

.topnav a.active {
  border-bottom: 0.4rem solid #2A87EF;
  opacity: 0.8;
}
/* 4. Responsiveness (use of mobile vs desktops) */

@media screen and (max-width: 799px) {
  .topnav {
    clear: both;
  }
  .description {
    font-size: 1.2rem;
  }
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
  }

  .side {
    margin-bottom: 3rem;
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .content {
    align-items: top;
    justify-content: center;
    margin-top: 5rem;
    padding: 6rem;
  }

  .side {
    flex-grow: 0;
    flex-shrink: 0;
    height: 20rem;
    order: 2;
    margin-left: 3rem;
    width: 100%;
  }

  .about {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
